html, body {
	height: 100%;
  width: 100%;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	overflow-y: scroll;
  scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}

a {
  color: black;
  text-decoration: none;
  transition: all .1s ease-out;
}

a:hover {
  border-bottom: 1px solid black;
}

.hero {
  height: 80%;
  width: 100%;
  background-image: url(./images/ruth-neech.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin-top: 0;
}

ul {
  margin: 4rem 0;
}

ul li {
  padding: 1rem 0;
}
